.books {
    padding: 0 @pagePadding;
    box-sizing: border-box;

    &__title {
        font-size: @titleFontSize;
        border-bottom: 1px solid @borderColor;
        padding: 1rem 0;        
    }

    &__content {
        padding: 1rem 0; 
    }

    &__list {
        &__item {
            padding: 1rem 0;
            border-bottom: 1px solid @borderColor;
            list-style-type: none;
            // display: block;
            display: flex; 
            flex-direction: row;
            justify-content:space-between;

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            &:last-child {
                border: none;
            }

            // &:hover {
            //     background: @focusColor;
            // }
        }
    }
}

@bookCoverWidth: 8rem;

.book-cover {
    float: left;
    width: @bookCoverWidth;
    height: 10rem;

    &__image {
        height: 10rem;
        box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    }
}

.book-desc {
    height: 10rem;
    width: 100%;

    box-sizing: border-box;
    margin: 0 0 0 -@bookCoverWidth;
    float: left;
    padding: 0 0 0 @bookCoverWidth + 1rem;

    display: flex;
    flex-direction: column;
    justify-content:space-between;

    position: relative;

    &__category {
        font-size: @normalFontSize;
        color: @subTextColor;        
    }

    &__price {
        font-size: @normalFontSize;
        color: @subTextColor;          
    }

    &__title {
        &--normal {
            font-size: @titleFontSize;
        }
        &--small {
            font-size: @normalFontSize;
        }
    }

    &__author {
        &--normal {
            font-size: @normalFontSize;
        }
        &--small {
            font-size: @normalFontSize;
            color: @subTextColor;
        }        
    }

    &__intro {
        &--normal {
            font-size: @normalFontSize;
            -webkit-line-clamp: 2;
        }
        &--small {
            font-size: @normalFontSize;
            -webkit-line-clamp: 2;            
        }
        color: @subTextColor;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    &__menu-wrap {
        color: @subTextColor;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        z-index: 2;

        &__icon {
            font-size: @iconFontSize;
        }

        &__input {
            display: none;
            &:checked ~ .menu{
                display: block;
            } 
        }

        &__menu {
            font-size: @normalFontSize;
            background: #ffffff;

            display: none;

            position: absolute;
            right: 120%;
            top: 50%;
            transform: translateY(-50%);

            border: 1px solid @borderColor;
            width: 8rem;

            &__list {
                width: 100%;
                height: 100%;

                text-align: center;

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &__item {
                    padding: 0.5rem 0;
                    border-bottom: 1px solid @borderColor;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }

    &__progress {
        color: @subTextColor;
        font-size: @normalFontSize;
        display: flex;
        align-items:center;

        &__bar {
            width: 3rem;
            height: 1rem;
            background: @focusColor;
            display: inline-block;
            width: 40%;
            margin: 0 0 0 0.5rem;

            &__inner {
                display: inline-block;
                height: 100%;
                background: @contrastColor;
                position: relative;
                z-index: 1;
            }
        }
        &__percentage {
            display: inline-block;
            margin: 0 0 0 0.5rem;
        }

    }
}